<nav>
    <ul class="navUl">
        <a href="/"><li><img class="logo" src="/img/amogos.jpeg" alt=""></li></a>
        <a class="guide" href="/guide"><li>Guide</li></a>
        <a class="login" href="/login"><li>Login</li></a>
        <!-- Login teksten blir til en API logo når man logger inn liksom -->
    </ul>
</nav>