<%- include("./partials/head") %>

<body class="body">
    <div class="gridContainer">
        <div class="aside">
            <a class="tilbake" href="/"><p>Tilbake</p></a>
            <br>
            <!-- pil ikon som animerer til å være forran og peke på valgte siden -->
            <img src="" alt=""> 
            <a class="borgir" href="#intro"><p>intro</p> </a>
            <a class="borgir" href="#info1"><p>info1</p> </a>
            <a class="borgir" href="#info2"><p>info2</p> </a>
            <a class="borgir" href="#info3"><p>info3</p> </a>
            <a class="borgir" href="#info4"><p>info4</p> </a>
            <a class="borgir" href="#info5"><p>info5</p> </a>
            <a class="borgir" href="#avsluttning">avsluttning</a>
        </div>



        <div class="mainContainer">
            <h1>Guide Bide Lide Side</h1>

            <p id="intro">Guardians of the galaxy</p>
            <p id="info1">autisme</p>
            <p id="info2">Solskinnsdag</p>
            <p id="info3">Justurerende utenomjordiske krefter</p>
            <p id="info4">kommunale ferdigheter</p>
            <p id="info5">aids</p>
            <p id="avsluttning">kreft</p>
        </div>
    </div>
</body>
</html>