<%- include("./partials/head") %>
<body>

    <%- include("./partials/nav") %>

    <form action="søk">
        <div class="søkbar">
            <input type="text">
            <p>icon ting</p>
        </div>
    </form>

    <div  class="guideContainer">
        <div class="guide"></div>
        <div class="guide"></div>
        <div class="guide"></div>
        <div class="guide"></div>
    </div>



</body>
</html>