<%- include("./partials/head") %>

<body>
    <%- include("./partials/nav") %>

    <div class="search-box">
        <div class="row">
            <form action="/index" method="post">
                <input type="text" name="searchQuery" id="input-box" placeholder="Søk på en tag" autocomplete="off">
                <button type="submit" id="søkButton" class="search-button">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div class="result-box">
        </div>
    </div>
    <script src="/js/søk.js"></script>
</body>
</html>
