<%- include("./partials/head") %>

<body>
    <form action="/login" method="post">
        <div class="email">
            <input name="email" type="email" placeholder="Email" required>
        </div>
        <div class="password">
            <input name="password" type="password" placeholder="Password" required>
        </div>
        <div class="remember-me">
            <input type="checkbox" name="rememberMe" id="rememberMe">
            <label for="rememberMe">Remember me</label>
        </div>
        <button type="submit" id="submit">Logger inn</button>
    </form>

    <a href="/signup">Ikke bruker</a>
</body>
</html>
