<%- include("./partials/head") %>

<body>
    <form action="" method="post">
        <div class="email">
            <!-- ikon her -->
            <input name="email" type="email" placeholder="@">
        </div>
        <div class="password">
            <!-- ikon her -->
            <input name="password" type="password" placeholder="password">
        </div>

        <input type="submit" name="submit" id="submit">
    </form>

    <a href="/signup">Ikke bruker</a>

</body>
</html>