<body>
    <form action="/signup" method="post">
        <input id="username" type="text" name="username" placeholder="Username" required>
        <input id="email" type="email" name="email" placeholder="Email" required>
        <input id="password" type="password" name="password" placeholder="Password" required>
        <input id="cPassword" type="password" name="cPassword" placeholder="Confirm password" required>
        <button type="submit" id="submit">Sign Up</button>
    </form>

    <a href="/login">Alerede bruker</a>
</body>
</html>
