<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <input id="username" type="text" placeholder="username">
        <input id="email" type="email" placeholder="@">
        <input id="password" type="password" placeholder="password">
        <input id="cPassword" type="password" placeholder="confirm password">

        <input type="submit" name="submit" id="submit">
    </form>

    <a href="/login">Alerede bruker</a>
</body>
</html>